[submodule "gdb/gdb.symlink/qt5printers"]
	path = gdb/gdb.symlink/qt5printers
	url = https://github.com/Lekensteyn/qt5printers.git
[submodule "zsh/zsh.symlink/oh-my-zsh"]
	path = zsh/zsh.symlink/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
